html,
body {
    height: 100%;
    width: 100%;
}
.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper{
    height: auto;
    width: 50%;
}
.wrap{
    display: flex;
    flex-direction: column;
}
.wrap a{
    width: 40%;
}