html,
body {
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-wrapper {
    height: auto;
    width: 50%;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.wrap a {
    width: 40%;
}
nav, .nav{
    width: 100%;
}

@media (min-width: 768px) {
    ul.nav {
        display: flex;
        justify-content: space-around;
    }
}